.o-box {
  @include inuit-clearfix();
  display: block; /* [1] */
  padding: $global-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }
}

.o-box--flush {
  padding: 0;
}

.o-box--tiny {
  padding: $global-spacing-unit-tiny;
}

.o-box--small {
  padding: $global-spacing-unit-small;
}

.o-box--large {
  padding: $global-spacing-unit-large;
}

.o-box--huge {
  padding: $global-spacing-unit-huge;
}
